  h1 {
    font-size: 38px;
    font-family: "Sofia", "Open Sans", Arial, sans-serif;
    color: #ececec;
  }
  
  h2 {
    font-size: 28px;
    font-family: "Sofia", "Open Sans", Arial, sans-serif;
    color: #ececec;
  }
  
  h3 {
    font-size: 20px;
    font-family: /*"Sofia",*/ "Open Sans", Arial, sans-serif;
    color: #ececec;
    font-weight: 600;  
  }
  
  p {
    font-size: 18px;
    font-family: "Klee One", "Open Sans", Arial, sans-serif;
    color: #ececec;
  }
  
  body {
    background-color: #8d8d8d;
  }
  
  .main {
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #440150;
  }

  footer {
    text-align: center;
    padding: 20px;
  }
  
  a {
    color: #000000;
    font-weight: 600;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-left: 2%;
  }
  
  a:visited {
    color: #660170;
  }
  
  a:hover {
    color: #ececec;
    text-decoration: underline;
  }

  #landing-title {
    text-align: center;
  }

  #portrait-image img {
    display: block;
    margin: 0 auto;
  }

  /*#landing-content {
    display: grid;
    grid-template-columns: auto auto auto;
  }*/

  #landing-content figure {
    margin: 10px 10px 10px 10px;
    max-width: 31%;
    /*border: solid 1px red;*/
    float: left;
    text-align: center;
  }

  .one-one {
    height: 200px;
    width: 200px;
  }

  .two-one {
    height: 200px;
    width: 300px;
  }

  #about-title {
    text-align: center;
  }

  #about-image img {
    height: 428px;
    width: 242px;
    float: left;
    margin-right: 30px;
  }

  #hobbies-title {
    text-align: left;
  }

  .table-image {
    text-align: center;
  }

  tr, td {
    padding: 10px;
  }

  img {
    border: solid 2px #8d8d8d;
    padding: 2px;
  }