/*Robin Pindel
  CSD 340 bioSite*/


  h1 {
    font-size: 38px;
    font-family: "Sofia", "Open Sans", Arial, sans-serif;
  }
  
  h2 {
    font-size: 28px;
    font-family: "Sofia", "Open Sans", Arial, sans-serif;
  }
  
  h3 {
    font-size: 20px;
    font-family: "Sofia", "Open Sans", Arial, sans-serif;  
  }
  
  p {
    font-size: 18px;
    font-family: "Klee One", "Open Sans", Arial, sans-serif;
  }
  
  body {
    background-color: #8d8d8d;
  }

  #container {
    background-color: #440150;
  }
  
  .main {
    margin: 2%;
    padding: 1% 2% 2% 2%;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .main h1, h2, h3, p {
    color: #ececec;
  }

  footer {
    text-align: center;
    padding: 20px 0px;
  }
  
  a {
    color: #000000;
    font-weight: 600;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-left: 2%;
  }
  
  a:visited {
    color: #660170;
  }
  
  a:hover {
    color: #ececec;
    text-decoration: underline;
  }

  #landing-title {
    text-align: center;
    border: solid red;
    border-radius: 15px;
  }

  #portrait-image {
    display: block;
    margin: 0 auto;
    width: 50%;
    border: solid red;
    border-radius: 15px;
  }

  #landing-content {
    display: grid;
    grid-template-columns: auto auto auto;
    border: solid red;
    border-radius: 15px;
  }

  #landing-content div {
    background-color: black;
    margin: 10px 20px 10px 20px;
    border: solid red;
    border-radius: 15px;
  }

  #landing-content figure {
    text-align: center;
  }

  #landing-content img {
    height: 200px;
    width: 200px;
  }

  #about-title {
    text-align: center;
  }

  #about-image img {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 40px;
  }

  #hobbies-title {
    text-align: left;
  }

  #hobby-1 {
    border: solid red;
    overflow: auto;
    width: 100%;
  }

  #h1left {
    width: 25%;
    float: left;
    border: solid red;
    margin: 10px;
    padding: 10px;
  }

  #h1left img {
    height: 200px;
    width: 200px;
  }

  #h1right {
    width: 65%;
    float: right;
    border: solid red;
    margin: 10px;
    padding: 10px;
  }

  #hobby-2 {
    border: solid yellow;
    overflow: auto;
    width: 100%;
  }

  #h2left {
    width: 65%;
    float: right;
    border: solid yellow;
    margin: 10px;
    padding: 10px;
  }

  #h2right {
    width: 25%;
    float: right;
    border: solid yellow;
    margin: 10px;
    padding: 10px;
  }

  #h2right img {
    height: 200px;
    width: 200px;
    float: right;
  }

  #hobby-3 {
    border: solid green;
    overflow: auto;
    width: 100%;
  }

  #h3left {
    width: 25%;
    float: left;
    border: solid green;
    margin: 10px;
    padding: 10px;
  }

  #h3left img {
    height: 200px;
    width: 200px;
    float: left;
  }

  #h3right {
    width: 65%;
    float: right;
    border: solid green;
    margin: 10px;
    padding: 10px;
  }