h1 {
font-size: 38px;
font-family: "Sofia", "Open Sans", Arial, sans-serif;
}

h2 {
font-size: 28px;
font-family: "Sofia", "Open Sans", Arial, sans-serif;
}

p {
font-size: 18px;
font-family: "Klee One", "Open Sans", Arial, sans-serif;
}

body {
  background-color: #8d8d8d;
}

#main {
  background-color: #440150;
  margin: 2%;
  padding: 1% 2% 2% 2%;
}

#main h1, h2, p {
  color: #ececec;
}

a {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  margin-left: 2%;
  font-family: "Open Sans", Arial, sans-serif;
}

a:hover {
  color: #ececec;
  text-decoration: underline;
}

a:visited {
  color: #660170;
}